.circles {
  & .ctrl-list {
    @media screen and (max-width: 767px) {
      margin-top: 1.125rem;
      margin-left: auto;
    }
  }
}

.circles-title {
  font-size: inherit;
}

.circles-list__wrapper {
  box-sizing: border-box;

  border-radius: $primary-radius;
  background-color: $third-bg-color;
  box-shadow: $fourth-shadow;
}

.circles-list__thumb {
  aspect-ratio: 1 / calc(10.625 / 21.4375);

  border-radius: $primary-radius;
  box-shadow: $fourth-shadow;

  @media screen and (min-width: 992px) {
    aspect-ratio: 1 / calc(calc(10.625 / 25.8125));
  }
}

.circles-list__content {
  padding: 1.875rem 0.81rem 2.25rem 1.125rem;

  @media screen and (min-width: 992px) {
    padding: 0.5rem 1.875rem 1.12rem 1.75rem;
  }
}

.circles-list__title {
  max-width: fit-content;
  margin-bottom: 1.3125rem;

  font-size: 1.25rem;

  &::before {
    content: "";

    position: absolute;
    top: 0.5rem;
    left: -0.1875rem;
    z-index: -1;

    display: inline-block;

    width: 84.11%;
    height: 82.76%;

    background-color: $fourth-bg-color;
  }
}

.circles-list__text {
  font-size: clamp(0.938rem, 0.915rem + 0.09vw, 1rem);
  line-height: calc(1.5 / 0.9375);

  @media screen and (min-width: 992px) {
    line-height: 1.5;
  }
}

.circles-list__age {
  margin-top: 1.875rem;

  font-family: 'Dela Gothic One', sans-serif;

  color: $secondary-text-color;
}