.contacts {
  padding-top: clamp(7.5rem, 2.38rem + 21.84vw, 22.04rem);
  padding-bottom: clamp(7.5rem, 6.113rem + 5.92vw, 11.44rem);

  & .container {
    @media screen and (max-width: 575px) {
      padding: 0;
    }
  }

  & .row {
    & > div:first-child {
      @media screen and (max-width: 991px) {
        margin-bottom: 4.375rem;
      }
    }
  }
}

.contacts-bg {
  top: 3.125rem;
  left: calc(50% + 3rem);

  transform: translateX(-50%);

  max-width: 109.25rem;
  width: 210.133%;

  @media screen and (max-width: 991px) {
    height: 83.125rem;
  }

  @media screen and (min-width: 992px) {
    top: 15%;
    left: calc(50% + 6rem);

    aspect-ratio: 1 / calc(971 / 1748);
    width: 120.9722%;
  }
}

.contacts-title {
  font-size: clamp(1.75rem, 1.442rem + 1.31vw, 2.625rem);

  @media screen and (max-width: 991px) {
    margin-bottom: 2.5rem;
  }
}

.contacts-form__wrapper {
  &.mail-send {
    & .contacts-form {
      opacity: 0;
      pointer-events: none;
    }

    & .contacts-ty {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.loading {
    & .contacts-form{
      opacity: 0.8;
    }

    & .loader {
      opacity: 1;
    }
  }

  & .loader {
    top: 30%;
  }
}

.contacts-form {
  max-width: 18.75rem;

  @media screen and (min-width: 992px) {
    margin-left: min(11.919%, 5.5rem);
  }
}

.contacts-ty {
  max-width: 30.125rem;

  opacity: 0;
  pointer-events: none;
}

.contacts-form,
.contacts-ty {
  @include transition(opacity);
}

.contacts-form__field {
  &:first-of-type {
    margin-bottom: 1.5rem;
  }

  &:last-of-type {
    margin-bottom: 2.875rem;

    & > div {
      width: 100%;
    }
  }
}

.contacts-form__label {
  margin-bottom: 0.625rem;

  font-size: 0.875rem;
  line-height: normal;

  color: $third-text-color;
}

.contacts-form__input {
  height: 2.5rem;

  padding: 0 0 0 0.875rem;
  border: 0.2px solid $black-color;

  border-radius: $seventh-radius;
  box-shadow: $eighth-shadow;

  font-size: 1rem;
  line-height: normal;

  &.invalid {
    color: $red-color;

    &::placeholder {
      color: $red-color;
    }
  }
}

.contacts-form__button {
  @include hover(background-color $active-ctrl-color $fifth-bg-color, border-color transparent $black-color);

  max-width: fit-content;

  height: 3rem;

  padding: 0 4.5rem;

  border-radius: $fourth-radius;
  box-shadow: $seventh-shadow;
}

.contacts {
  & .socials-list {
    @media screen and (max-width: 991px) {
      display: flex;
      gap: 2.125rem;

      margin-bottom: 1.875rem;
    }

    @media screen and (min-width: 992px) {
      margin-right: 3.125rem;
    }
  }

  & .socials-list__link {
    @include hover(fill inherit $white-color);
  }
}

.contacts .socials-list__item,
.contacts-list__item {
  &:not(:last-child) {
    @media screen and (min-width: 992px) {
      margin-bottom: 2.1875rem;
    }
  }
}

.contacts-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 991px) {
      margin-bottom: 2.19rem;
    }
  }
}

.contacts-list__icon {
  margin-right: 1.8125rem;
}

.contacts-list__link {
  @include hover(color inherit $white-color, fill inherit $white-color);
}

.contacts-thumb {
  margin-bottom: 3.75rem;

  border-radius: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);

  @media screen and (max-width: 991px) {
    height: 25rem;
  }

  @media screen and (min-width: 992px) {
    aspect-ratio: 1 / calc(390 / 522);

    margin-bottom: 1.875rem;
  }

  & > p {
    display: contents;
  }
}

.contacts-wrapper {
  @media screen and (min-width: 992px) {
    margin-left: max(-14.953%, -4.875rem);
  }
}

.contacts-content,
.contacts-wrapper {
  @media screen and (max-width: 575px) {
    padding: 0 clamp(1rem, -0.408rem + 6.01vw, 5rem);
  }
}
