.gallery-title {
  font-size: inherit;
}

.gallery-swiper {
  & dt {
    overflow: hidden;
    border-radius: $fourth-radius;

    @media screen and (max-width: 991px) {
      height: 22.5rem;
    }

    @media screen and (min-width: 992px) {
      aspect-ratio: 1 / calc(30.625 / 39.3125);
    }
  }
}