#groups {
  & .ctrl-list {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

.groups-list {
  row-gap: 1.25rem;
}

.groups-list__wrapper {
  border-radius: 2.75rem;
  background-color: $third-bg-color;

  & ul {
    list-style-type: disc;

    padding-left: 1.5rem;
    margin-bottom: 1.125rem;

    @media screen and (min-width: 992px) {
      margin-bottom: 0.75rem;
    }

    & li {
      font-size: clamp(0.938rem, 0.915rem + 0.09vw, 1rem);
      line-height: calc(1.75 / 0.9375);

      @media screen and (min-width: 992px) {
        line-height: 1.75;
      }
    }
  }
}

.groups-list__thumb {
  border-radius: 2.75rem 2.75rem 0 0;

  @media screen and (max-width: 991px) {
    height: clamp(13.75rem, 3.256rem + 44.78vw, 19.375rem);
  }

  @media screen and (min-width: 992px) {
    aspect-ratio: 1/ calc(13.6875 / 25.8125);
  }
}

.groups-list__content {
  padding: 0.5625rem clamp(1.438rem, 1.129rem + 1.31vw, 2.313rem) clamp(2rem, 1.978rem + 0.09vw, 2.063rem) clamp(1.5rem, 1.192rem + 1.31vw, 2.375rem);
}

.groups-list__title {
  margin-bottom: clamp(0.5rem, 0.456rem + 0.19vw, 0.625rem);

  font-size: 2rem;

  @media screen and (min-width: 992px) {
    font-size: 1.75rem;
  }
}

.groups-list__age {
  margin-bottom: 1.375rem;

  font-size: clamp(1.125rem, 1.081rem + 0.19vw, 1.25rem);
  line-height: calc(1.75 / 1.125);

  @media screen and (min-width: 992px) {
    margin-bottom: 1.125rem;

    line-height: calc(1.75 / 1.25);
  }
}

.groups-list__schedule {
  font-size: clamp(0.938rem, 0.915rem + 0.09vw, 1rem);
  line-height: calc(1.75 / 0.9375);

  @media screen and (min-width: 992px) {
    line-height: 1.75;
  }
}

.groups-list__age,
.groups-list__schedule {
  font-family: 'Dela Gothic One', sans-serif;

  color: $active-ctrl-color;
}

.groups-list__button {
  @include hover(background-color $active-ctrl-color $fifth-bg-color, border-color transparent $black-color);

  max-width: fit-content;

  margin-top: 1.375rem;
  padding: 0.625rem 2.625rem;

  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);

  border-radius: $primary-radius;
  box-shadow: $sixth-shadow;
}