.hero {
  aspect-ratio: 1 / calc(700 / 1440);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 3.5rem;

  color: $primary-bg-color;
}

.hero-title {
  margin-bottom: 1.13rem;

  font-size: 3.25rem;
}

.hero-text {
  margin-bottom: 3rem;

  font-size: 1.125rem;
  font-weight: 700;
}

.hero-button {
  @include hover(background-color $accent-color $fifth-bg-color, color $white-color $black-color, border-color transparent $black-color);

  height: 2.75rem;

  padding: 0 3.25rem;

  border-radius: $primary-radius;

  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: normal;

  box-shadow: $primary-shadow;
}