.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: clamp(2.875rem, 2.655rem + 0.94vw, 3.5rem);

  color: $primary-bg-color;

  @media screen and (max-width: 991px) {
    height: 43.75rem;
  }

  @media screen and (min-width: 992px) {
    aspect-ratio: 1 / calc(700 / 1440);
  }
}

.hero-title {
  margin-bottom: 1.375rem;

  font-size: clamp(1.75rem, 1.222rem + 2.25vw, 3.25rem);

  @media screen and (min-width: 992px) {
    margin-bottom: 1.125rem;
  }

  & br {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

.hero-text {
  margin-bottom: clamp(2.375rem, 2.155rem + 0.94vw, 3rem);

  & br {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.hero-button {
  @include hover(background-color $accent-color $fifth-bg-color, color $white-color $black-color, border-color transparent $black-color);

  padding: 0.5625rem 3.1875rem;

  border-radius: $primary-radius;

  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: normal;

  box-shadow: $primary-shadow;
}