.partners {
  padding-bottom: clamp(1.438rem, 0.117rem + 5.63vw, 5.188rem);
}

.partners-wrapper {
  padding: 3.125rem clamp(0.5rem, -1.481rem + 8.45vw, 6.125rem) clamp(2.875rem, 2.567rem + 1.31vw, 3.75rem) clamp(0.5rem, -1.745rem + 9.58vw, 6.875rem);

  border-radius: $secondary-radius;
  background-color: $sixth-bg-color;
  box-shadow: $ninth-shadow;

  & p {
    margin-bottom: 2.5rem;

    font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
    font-weight: 700;
    line-height: 1.5;

    color: $white-color;

    @media screen and (min-width: 992px) {
      font-size: 1.375rem;
      line-height: calc(2 / 1.375);
    }
  }
}

.partners-button {
  @include hover(background-color $fifth-bg-color $active-ctrl-color, border-color transparent $black-color);

  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);

  padding: 0.625rem 2rem;
  border-radius: $primary-radius;
  box-shadow: $tenth-shadow;
}