.price-list {
  row-gap: 2rem;

  @media screen and (max-width: 1199px) {
    padding: 0 1.19rem;
  }

  @media screen and (min-width: 1200px) and (max-width: 1439px){
    --bs-gutter-x: 0.5rem;
  }
}

.price-list__item {
  @media screen and (max-width: 1199px) {
    min-height: 28.6875rem;
  }
}

.price-list__thumb {
  padding: 2.4375rem 1.5625rem 3.125rem;

  border-radius: $primary-radius;
  background-color: $secondary-accent-color;

  & ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 2rem;

    & li {
      font-size: 1rem;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.price-list__title {
  margin-bottom: 1.875rem;

  font-size: 2rem;
  line-height: 1;

  hyphens: auto;

  @media screen and (min-width: 992px) {
    line-height: calc(2 / 2.125);
  }

  @media screen and (min-width: 1440px) {
    font-size: 2.125rem;
  }
}

.price-list__price {
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
}

.price-list__button {
  @include hover(background-color $active-ctrl-color $fifth-bg-color, border-color transparent $black-color);

  max-width: fit-content;
  padding: 0.625rem 3.25rem;
  margin-top: 2.125rem;

  border-radius: $fourth-radius;
  box-shadow: $seventh-shadow;
}