.reviews-title {
  margin-bottom: 1.375rem;
}

.reviews-text {
  & br {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.reviews-list__item {
  @media screen and (min-width: 768px) {
    min-height: 18.75rem;
  }
}

.reviews-wrapper {
  margin-bottom: clamp(1.875rem, 0.995rem + 3.76vw, 4.375rem);

  row-gap: 2.5rem;

  & .ctrl-list {
    margin-left: auto;
  }
}

.reviews-list__thumb {
  box-sizing: border-box;

  padding: 1.875rem clamp(1.19rem, 1.169rem + 0.09vw, 1.25rem) 1.81rem clamp(1.125rem, 0.796rem + 1.4vw, 2.06rem);

  border-radius: $secondary-radius;
  border: 1px solid $fourth-bg-color;
  background-color: $third-bg-color;
}

.reviews-list__title {
  margin-bottom: 1.06rem;

  font-size: 1.125rem;
  line-height: calc(1.375 / 1.125);
}

.reviews-list__text {
  font-size: 0.9375rem;
  line-height: calc(1.5 / 0.9375);
}

.reviews-list__remaining-words {
  @include transition(opacity);

  font-size: inherit;
  opacity: 1;

  &.is-hidden {
    opacity: 0;
    font-size: 0;
  }
}

.reviews-list__button {
  all: unset;

  margin-top: 1.06rem;

  font-size: 0.875rem;
  line-height: calc(1.375 / 0.875);
  text-decoration-line: underline;

  color: $eighth-bg-color;
}