.container {
 padding: 0 clamp(1rem, -0.408rem + 6.01vw, 5rem);

  @media screen and (max-width: 767px) {
    max-width: 540px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.section {
  padding-top: clamp(7.5rem, 6.18rem + 5.63vw, 11.25rem);
}

.section--padding-bottom {
  padding-bottom: clamp(7.5rem, 6.18rem + 5.63vw, 11.25rem);
}

.section-title {
  margin-bottom: clamp(2.5rem, 1.84rem + 2.82vw, 4.375rem);

  font-size: clamp(1.75rem, 1.53rem + 0.94vw, 2.375rem);
}

.border-style {
  border-style: solid;
  border-width: 1px;
}

.bg-accent {
  background-color: $accent-color;
}

.text-accent {
  color: $accent-color;
}

.ctrl-list {
  display: flex;
  gap: 0.875rem;
}

.ctrl-list__item {
  @include transition(fill, border-color);

  width: 3rem;
  height: 3rem;

  border: 1px solid $active-ctrl-color;
  fill: $active-ctrl-color;

  &.swiper-button-disabled {
    border-color: $inactive-ctrl-color;
    fill: $inactive-ctrl-color;
  }
}