
$secondary-text-color: #393939;
$third-text-color: #030102;
$fourth-text-color: #4C4C4C;

$primary-bg-color: #F9F0E5;
$secondary-bg-color: #D4A870;
$third-bg-color: #EFE5DB;
$fourth-bg-color: #AFCA0B;
$fifth-bg-color: #F0E73D;
$sixth-bg-color: #3CB7B2;
$seventh-bg-color: #1D1D1B;
$eighth-bg-color: #151515;

$accent-color: #F29155;
$secondary-accent-color: #D4A971;
$third-accent-color: #EFCA81;

$disabled-color: #EBEBE4;

$active-ctrl-color: #EF9156;
$inactive-ctrl-color: #EFC981;

$white-color: #FFF;
$black-color: #000;
$red-color: #F00;
$green-color: #0F0;

$duration: 250ms;
$timing-function: ease-in-out;

$primary-radius: 2rem;
$secondary-radius: 2.75rem;
$third-radius: 0.75rem;
$fourth-radius: 1.375rem;
$fifth-radius: 5.5rem;
$sixth-radius: 2.625rem;
$seventh-radius: 0.625rem;

$primary-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.18);
$secondary-shadow: 5px 7px 12px 0px rgba(0, 0, 0, 0.22);
$third-shadow: 2px -1px 12px 0px rgba(0, 0, 0, 0.22);
$fourth-shadow: 1px 1px 7.4px 0px rgba(0, 0, 0, 0.18);
$fifth-shadow: -3px 2px 12px 0px rgba(0, 0, 0, 0.22);
$sixth-shadow: 1px -1px 4px 0px rgba(0, 0, 0, 0.12);
$seventh-shadow: 0px 3px 9.9px 0px rgba(0, 0, 0, 0.24);
$eighth-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
$ninth-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.23);
$tenth-shadow: 1px 4px 6.6px 0px rgba(0, 0, 0, 0.19);

$loader-background-color: #EEEEEE;
$loader-highlight-color: #DEDEDE;