.header {
  @media screen and (max-width: 991px) {
    padding: 0.625rem 0;
  }

  & .container {
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  & .custom-logo-link {
    display: inline-block;

    width: clamp(11.063rem, 9.852rem + 5.16vw, 14.5rem);
    flex-shrink: 0;

    @media screen and (min-width: 992px) {
      margin-right: 3.748%;
    }

    @media screen and (min-width: 1440px) {
      margin-right: 13.6875rem;
    }

    & img {
      object-fit: contain;
    }
  }

  & .nav-list {
    display: flex;

    @media screen and (min-width: 768px) {
      gap: 2rem;
    }

    @media screen and (min-width: 992px) {
      gap: 1.5rem;
    }

    @media screen and (min-width: 1200px) {
      gap: 2.62rem;
    }

    & a {
      @include transition(color);

      display: inline-block;
      padding: 2rem 0 1.875rem;

      font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $active-ctrl-color;
        text-decoration: underline;
      }
    }
  }

  & .languages-list {
    margin-left: auto;
  }
}

.header-wrapper {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }
}

.languages-list__item {
  &:first-child {
    & .languages-list__link {
      border-right: transparent;
    }
  }

  &:last-child {
    & .languages-list__link {
      border-left: transparent;
    }
  }
}

.languages-list__link {
  @include hover(border-color transparent $accent-color);

  display: inline-block;

  padding: 0.3125rem 0.4375rem;

  &.current {
    background-color: $accent-color;
  }
}