.header {
  @media screen and (max-width: 767px){
    padding-bottom: 0.625rem;
  }

  & .custom-logo-link {
    display: inline-block;

    align-self: end;

    width: clamp(11.063rem, 9.852rem + 5.16vw, 14.5rem);
    flex-shrink: 0;
  }

  & .nav-list {
    display: flex;
    gap: 2.62rem;

    & a {
      @include transition(color);

      display: inline-block;
      padding: 2rem 0 1.875rem;

      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $active-ctrl-color;
        text-decoration: underline;
      }
    }
  }

  & .languages-list {
    margin-left: 8.06rem;
  }

  & .languages-list__item {
    &:first-child {
      & .languages-list__link {
        border-right: transparent;
      }
    }

    &:last-child {
      & .languages-list__link {
        border-left: transparent;
      }
    }
  }

  & .languages-list__link {
    @include hover(border-color transparent $accent-color);

    display: inline-block;

    padding: 0.3125rem 0.4375rem;

    &.current {
      background-color: $accent-color;
    }
  }
}